{% extends '/layout/layout.html' %} {% block title %} Home {% endblock %} {%
block body %}

<div
  id="carouselExampleIndicators"
  class="carousel slide mb-5 mt-5"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<div class="d-flex flex-column mb-5">
  <h3 class="d-flex justify-content-center">Welcome to our Youth Church!</h3>
  <p class="d-flex justify-content-center p-5 text-center">
    We are a dynamic and passionate community of young individuals committed to
    their faith and spiritual growth. Here, you'll find a space where you can be
    yourself, connect with God, and form meaningful friendships. Join us and
    discover the transformative power of faith in action.
  </p>
</div>

<div class="d-flex justify-content-center mb-5">
  <!---->
  <div class="card m-5">
    <img
      src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
      class="card-img-top"
      alt="Fissure in Sandstone"
    />
    <div class="card-body">
      <h5 class="card-title">Visit at the Grottos</h5>
      <p class="card-text">Visit the Grottos with our congregation.</p>
      <!--<a href="#!" class="btn btn-primary">Button</a>-->
    </div>
  </div>
  <!---->
  <div class="card m-5">
    <img
      src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp"
      class="card-img-top"
      alt="Fissure in Sandstone"
    />
    <div class="card-body">
      <h5 class="card-title">Outdoor Worship</h5>
      <p class="card-text">Visit us at our outdoor service on the beach</p>
      <!-- <a href="#!" class="btn btn-primary">Button</a> -->
    </div>
  </div>
  <!---->
  <div class="card m-5">
    <img
      src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp"
      class="card-img-top"
      alt="Fissure in Sandstone"
    />
    <div class="card-body">
      <h5 class="card-title">Central Building</h5>
      <p class="card-text">
        Visit us at our outdoor service on the beach
      </p>
      <!--<a href="#!" class="btn btn-primary">Button</a>-->
    </div>
  </div>
</div>
<div class="d-flex justify-content-around mb-5">
  <div class="d-flex flex-column align-self-center">
    <h4 class="mb-2">Fighting for a better world</h4>
    <p class="m-5">
      "Happy is the man who does not go in the company of sinners, or take his place in the way of evil-doers, or in the seat of those who do not give honour to the Lord"
    </p><q>Salmos 1:1</q>
  </div>
  <div>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.webp"
      class="img-fluid"
      alt="..."
    />
  </div>
</div>

{% endblock %}
