{% extends '/layout/layout.html' %} {% block title %} About Me {% endblock %} {%
block body %}

<h3 class="text-center mb-3 mt-5">Who are us</h3>
<p class="text-center mb-3 pl-5 pr-5">
  We are an institution of passionate young individuals seeking to live a life
  full of purpose and meaning. Here, we gather as a united community, driven by
  the desire to know God more deeply and make a difference in our surroundings.
  In our Youth Church, you will find a safe and welcoming space where each
  person is valued and accepted just as they are. Our diversity is celebrated,
  and we foster the inclusion of all, regardless of their background, history,
  or experiences.
</p>
<p class="text-center mb-3 pl-5 pr-5">
  We firmly believe in the power of worship and the transformation that comes
  from the Word of God. Our services and activities are designed to connect you
  with God in an authentic way, allowing you to experience His love and grace
  tangibly.
</p>
<p class="text-center mb-3 pl-5 pr-5">
  In addition to our regular services, we offer a wide variety of exciting
  programs and events. From Bible study groups and worship nights to community
  service activities and spiritual retreats, our aim is to nurture your
  spiritual growth and equip you to face the challenges of everyday life.
</p>
<div class="d-flex justify-content-around mb-5">
  <div class="d-flex flex-column align-self-center col-6 m-2">
    <p>
      In our Youth Church, we also value meaningful friendships and genuine
      fellowship. Here, you will find like-minded individuals willing to walk
      with you on this faith journey and provide support at every step of the
      way. Together, we will grow in our relationship with God and encourage one
      another to live lives that reflect His love
    </p>
  </div>
  <div>
    <img
      class="img-fluid"
      src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp"
      alt=""
    />
  </div>
</div>
<div class="d-flex justify-content-around mb-5">
  <div>
    <img
      class="img-fluid"
      src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
      alt=""
    />
  </div>
  <div class="d-flex flex-column align-self-center col-6 m-2">
    <p>
      We invite you to join our Youth Church and be a part of this exciting
      spiritual adventure. Whether you are new to faith or have grown up in a
      Christian environment, there is a place for you here. We look forward to
      meeting you soon and experiencing together the transformative power of God
      in our lives!
    </p>
  </div>
</div>
<!--
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for leng in languages %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{leng}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
-->
{% endblock %}
